[submodule "google-10000-english"]
	path = google-10000-english
	url = https://github.com/first20hours/google-10000-english
[submodule "stopwords-en"]
	path = stopwords-en
	url = https://github.com/stopwords-iso/stopwords-en
